@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h2 {
	text-align: center;
	color: white;
}
p {
	text-align: center;
	color: rgba(255, 255, 255, 0.3);
}
html {
	background-image: url("../media/login_bg.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family: 'Open Sans', sans-serif;
	user-select: none;
}
.holder {
	width: 450px;
	height: 400px;
	background-color: rgba(20, 20, 20, 0.96);
	box-shadow: rgba(20, 20, 20, 0.9) 5px 5px 20px;
	border-radius: 10px;
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    animation-name: appear;
    animation-duration: 0.4s
}

@keyframes appear {
	0% {top:46%; opacity:0;}
    100% {top:50%; opacity:1;}
}
form label {
	font-size: 16px;
}
form {
    vertical-align: baseline;
}
form * {
	font-weight: bold;
	color: white;
	display: block;
	width: 100%;
}
form input {
	box-shadow: rgba(0, 0, 0, 0.445) 2px 2px 5px;
	background-color: rgb(36, 36, 36);
	border: 1px solid rgb(0, 0, 0);
	border-radius: 4px;
	padding: 0px 5px;
	position: relative;
	left: -5px;
	color: rgb(216, 216, 216);
	margin-bottom: 15px;
	margin-top: 2px;
	line-height: 32px;
	font-weight: normal;
	outline: none;
	font-family: 'Open Sans', sans-serif;
}
form input:focus {
	border: 1px solid rgb(75, 75, 75);
}
.footer {
	position: absolute;
	bottom: 10px;
	left: 0px;
	text-align: center;
	width: 100%;
	color: gray;
}
button {
	box-shadow: rgba(0, 0, 0, 0.445) 2px 2px 5px;
	width: 100%;
	height: 40px;
	background-color: #2e9410;
	border: none;
	border-radius: 3px;
	color: white;
	font-weight: bold;
	outline: none;
}
button:focus {
	box-shadow: #047904 0px 0px 5px
}
button:hover {
	background-color: #1f880a;
}
button:active {
	background-color: #047904;
}

#toLogin, #toRegister {
	color: rgb(47, 113, 255);
	text-decoration: none;
	outline: none;
}
#toLogin:hover, #toRegister:hover {
	text-decoration: underline;
}
#toLogin:focus, #toRegister:focus {
	color: rgb(140, 203, 255);
	text-shadow: rgb(45, 94, 199) 0px 0px 10px;
	text-decoration: underline;
}

@media screen and (max-width: 490px) {
	.holder {
		width: 90%;
	}
}