
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
	padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
	padding: 0;
	transition: translateX(300px);
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.modal_Close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal_Close:hover,
.modal_Close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #303030;
    color: white;
}

.modal-body {
	padding: 2px 16px;
}

.modal-body table {
	width: 90%;
	margin: auto;

}
.modal-body tr, .modal-body td {
	padding: 0px;
	margin: 0px;
}
.modal-body textarea {
	width: 100%;
	height: 130px;
	resize: vertical;
}

.modal-footer {
	position: relative;
	height: 30px;
    background-color: #303030;
    color: white;
}
.modal-footer .buttonHolder {
	right: 20px;
	position: absolute;
	height: 100%;
}

.modal-footer button {
	font-weight: bold;
	color: white;
	line-height: 20px;
	background-color: #303030;
	margin-left: 5px;
	border: 0px;
	height: 100%;
	padding: 0px 10px;
}

.modal-footer button:hover {
	background-color: #b8b8b8;
	color: rgb(29, 29, 29);
}
.modal-footer button:active {
	background-color: #ececec;
	color: rgb(29, 29, 29);
}
@media screen and (max-width: 750px) {
	.modal-content {
		width: 90%;
	}
}
@media screen and (max-width: 375px) {

	.modal-content {
		width: 100%;
	}

}

.updateDate {
    font-size: 10px;
    text-align: right;
    color: gray;
}

.modal-body {
    max-height: 50vh;
    overflow-x: auto;
}

@media screen and (max-height: 500px) {

    .modal-content {
        max-height: 100vh;
    }

    .modal {
        padding-top: 10vh;
    }
}